* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}
.titulo{
	text-align: center;
	font-family:DOUBLE;
	font-size:50px;
	padding-top: 30px;
	padding-bottom: 30px;
	color:#FFFFFF;
	background-color:#FF6464;
}
form {
	padding: 50px 50px;
	background-color: #FF6464;
	margin: calc(15% + 100px);
	margin-top: 250px;
	padding-top: 70px;
	margin-bottom: 330px
	padding-bottom: 70px;
}
.pokebola{

}
